<?xml version="1.0" encoding="UTF-8"?>
<Config>
   <Server>
      <name>CHYZH</name>
      <username>""</username>
      <password>""</password>
      <database>MaskDetektorDataBase</database>
      <table>Photos</table>
   </Server>
   <Client>
      <ip>127.0.0.1</ip>
      <port>27015</port>
   </Client>
</Config>